body {
  
  background-image: url(https://media.wired.com/photos/5d163e197c01a40008fc096f/16:9/w_5615,h_3158,c_limit/01_Amir%20Zaki_Skateparks.jpg);
 background-attachment: fixed; 
 background-size: 100%;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

p , ul{
  font-size: 20px;
  font-weight: bold;
  color: rgb(211, 214, 25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  
}

.header {
  display: inline-block;
  width: 100%;
  height: 50px;
  text-align: center; /* Optional: Center the content horizontally within each button */
  box-sizing: border-box; /* Optional: Include padding and border within the width */
  padding: 0px; /* Optional: Add padding for spacing between buttons */
  margin: 0;
  border: solid black 1px;
  
  border-radius: 35px;
}

.home, .shop, .checkout, .aboutus {
  display: inline-block;
  width: 25%;
  text-align: center; /* Optional: Center the content horizontally within each button */
  box-sizing: border-box; /* Optional: Include padding and border within the width */
  margin: 0;
  border-radius: 35px;
  padding-top: 10px;
  
}

iframe{
  margin-left: 400px ;
}

p {
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
  
} 

img  {

  place-items:initial;
  justify-content: center; 
  text-align: center;
  padding-right: 150px;
  padding-left: 100px;
  height: 500px;
  width: 700px;
  
}


.home:hover, .shop:hover, .checkout:hover, .aboutus:hover{
  font-style:oblique;
  border-radius: 35px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  color: rgb(211, 214, 25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h3 {
  font-size: 15px;
  font-weight: bold;
  color: rgb(211, 214, 25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  height: auto;
  width: 100%;
  padding: 0;
  display: flex;
  font-size: 2em;
  color: rgb(211, 214, 25);
  align-items: center;
  justify-content: center;
}

.active {
  background-color:gray; 
}

#inventory {
  background-color:whitesmoke ;

}

th {
  font-size: 1.4em;
}
td {
  font-size: small;
}

 table {

    margin: 0%;
    margin-left: 5%;
    border: 10px;
    font-weight: bolder;
    text-align: justify;
    color: rgb(211, 214, 25);
}
h4 {
  padding-left: 200px;
  text-align: justify;
}


.cruiserInfo{
  color:  rgb(211, 214, 25);
}

.longInfo{
  color: rgb(211, 214, 25);

  
}

input {
float: left;
clear: left;
margin: 10px;
}

form {
padding: 10px;
width: 66.6667%;
float: left;
}

fieldset {
 margin-bottom: 10px;
 position: relative;
 padding: 2.5em 1em 0.5em 1em;
 
}

#orderinfo label {
display: block;
float: left;
clear: left;
margin-top: 5px;
}

#typeofskateboard {
display: block;
float: left;
clear: left;
margin-top: 5px;
}

#instructions {
display: block;
float: left;
clear: left;
margin-top: 5px;
}
#instrlabel {
display: block;
margin: 1em 0 0.5em 0;
float: left;
clear: left;
margin-top: 5px;

}

#previewbutton {
background: inherit;
border: none;
padding: 0.5em 0 0 0;
text-align: center;
display: block;
margin: 1em 0 0.5em 0;
float: left;
clear: left;
margin-top: 5px;
}

#previewBtn {
font-size: 1.25em;
background-color: gray;
}
